@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {}

/* @font-face {
    font-family : 'PokemonGSK';
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
    unicode-range: U+0041-005A,
        U+0061-007A;

    src: url(../../fonts/PokemonGSK.eot);
    src: url(../../fonts/PokemonGSK.eot?#iefix) format('embedded-opentype'),
        url(../../fonts/PokemonGSK.woff) format('woff'),
        url(../../fonts/PokemonGSK.ttf) format('truetype');
} */

@font-face {
    font-family: 'DungGeunMo';
    src        : url(../../fonts/NeoDunggeunmoPro-Regular.woff) format('woff');
    font-weight: bold;
    font-style : normal;
}

* {
    font-family: 'DungGeunMo', Sans-serif;
}